@import ./_variables

body
    font-family: 'Golos Text', sans-serif
    margin: 0
    padding: 0
    background-color: $light-background
    color: $light-text
    a
        color: inherit
        list-style-type: none
        text-decoration: none
    main
        margin-left: 100px
        width: 80vw
        #oMeni
            margin-top: 10vh
            display: flex
            align-items: flex-start
            justify-content: space-between
            article
                width: 40%
                a
                    color: $light-accent
                    &:hover
                        color: $dark-secondary
            img
                height: 30vh
        #projekti
            article
                display: flex
                align-items: center
                justify-content: center
                gap: 5%
                .projekt
                    height: 55vh
                    width: 30vw
                    background-color: $light-secondary
                    padding: 40px 20px
                    border-radius: 20px
                    .projekt-feature
                        width: 100%
                        height: 40%
                    span
                        display: flex
                        align-items: center
                        justify-content: space-around
                        img
                            height: 6vh
                    .github-link
                        display: flex
                        align-items: center
                        justify-content: center
                        img
                            height: 10vh
                            &:hover
                               transform: scale(1.2)
                               transition: 200ms
