@import ./_variables
@import ./_mixins

*
    font-family: 'Golos Text', sans-serif
    margin: 0
    padding: 0
    background-color: $light-background
    color: $light-text
    a
        color: inherit
        list-style-type: none
        text-decoration: none